In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans

# Data Collection and Analysis

In [2]:
data = pd.read_csv('C:/Users/KIIT0001/OneDrive/Desktop/MAHASWETA/ML/DATASETS/Test.csv')
data.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6

In [3]:
data.columns

Index(['ID', 'Gender', 'Ever_Married', 'Age', 'Graduated', 'Profession',
       'Work_Experience', 'Spending_Score', 'Family_Size', 'Var_1'],
      dtype='object')

In [4]:
data.shape

(2627, 10)

In [5]:
data.describe()

                  ID          Age  Work_Experience  Family_Size
count    2627.000000  2627.000000      2358.000000  2514.000000
mean   463433.918919    43.649791         2.552587     2.825378
std      2618.245698    16.967015         3.341094     1.551906
min    458989.000000    18.000000         0.000000     1.000000
25%    461162.500000    30.000000         0.000000     2.000000
50%    463379.000000    41.000000         1.000000     2.000000
75%    465696.000000    53.000000         4.000000     4.000000
max    467968.000000    89.000000        14.000000     9.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627 entries, 0 to 2626
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2627 non-null   int64
 1   Gender           2627 non-null   object
 2   Ever_Married     2577 non-null   object
 3   Age              2627 non-null   int64
 4   Graduated        2603 non-null   object
 5   Profession       2589 non-null   object
 6   Work_Experience  2358 non-null   float64
 7   Spending_Score   2627 non-null   object
 8   Family_Size      2514 non-null   float64
 9   Var_1            2595 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 205.4+ KB

In [7]:
data.isnull().sum()

ID                   0
Gender               0
Ever_Married        50
Age                  0
Graduated           24
Profession          38
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1               32
dtype: int64

In [8]:
data.drop(columns='Var_1', inplace=True)

In [9]:
data.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0

In [10]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data['Ever_Married'] = le.fit_transform(data['Ever_Married'])

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data['Gender'] = le.fit_transform(data['Gender'])

In [12]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data['Graduated'] = le.fit_transform(data['Graduated'])

In [13]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data['Profession'] = le.fit_transform(data['Profession'])

In [14]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data['Spending_Score'] = le.fit_transform(data['Spending_Score'])

In [15]:
data.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size
0,458989,0,1,36,1,2,0.0,2,1.0
1,458994,1,1,37,1,5,8.0,0,4.0
2,458996,0,1,69,0,9,0.0,2,1.0
3,459000,1,1,59,0,4,11.0,1,2.0
4,459001,0,0,19,0,8,NaN,2,4.0

In [16]:
X = data.drop(['ID', 'Spending_Score'], axis=1)
y = data['Spending_Score']

In [17]:
print(X)

      Gender  Ever_Married  Age  Graduated  Profession  Work_Experience  \
0          0             1   36          1           2              0.0
1          1             1   37          1           5              8.0
2          0             1   69          0           9              0.0
3          1             1   59          0           4             11.0
4          0             0   19          0           8              NaN
...      ...           ...  ...        ...         ...              ...
2622       1             0   29          0           5              9.0
2623       0             0   35          1           1              1.0
2624       0             0   53          1           3              NaN
2625       1             1   47          1           4              1.0
2626       0             0   43          1           5              9.0

      Family_Size
0             1.0
1             4.0
2             1.0
3             2.0
4             4.0
...           ...
2622          4.0
2623          1.0
2624          2.0
2625          5.0
2626          3.0

[2627 rows x 7 columns]

In [18]:
print(y)

0       2
1       0
2       2
3       1
4       2
       ..
2622    2
2623    2
2624    2
2625    1
2626    2
Name: Spending_Score, Length: 2627, dtype: int32

In [19]:
# WCSS -> Within Clusters Sum of Squares

In [20]:
wcss=[]
for i in range(1,22):
    kmeans=KMeans(n_clusters=i,init='k-means++',random_state=42)
    kmeans.fit(X)
    wcss.append(kmeans.inertia_)

ValueError: Input X contains NaN.
KMeans does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
# plot an elbow graph
sns.set()
plt.plot(range(1,22),wcss,marker='o')

plt.title('The Elbow Point Graph')
plt.xlabel('Number of Clusters')
plt.ylabel('WCSS')
plt.show()

In [ ]:
kmeans = KMeans(n_clusters=5, init='k-means++', random_state=0)
# return a label for each data point based on their cluster

y = kmeans.fit_predict(X)
print(y)

In [21]:
print(type(X))        
print(X.shape)         
print(y.shape)

<class 'pandas.core.frame.DataFrame'>
(2627, 7)
(2627,)

In [24]:
import matplotlib.pyplot as plt

plt.figure(figsize=(8,8))

# Scatter plots for each cluster
plt.scatter(X[y==0, 0], X[y==0, 1], s=50, c='green', label='Cluster 1')
plt.scatter(X[y==1, 0], X[y==1, 1], s=50, c='orange', label='Cluster 2')
plt.scatter(X[y==2, 0], X[y==2, 1], s=50, c='blue', label='Cluster 3')

# Centroids
plt.scatter(kmeans.cluster_centers_[:, 0], kmeans.cluster_centers_[:, 1],
            s=200, c='red', marker='X', label='Centroids')

plt.legend()
plt.title("K-Means Clustering Results")
plt.xlabel("Feature 1")
plt.ylabel("Feature 2")
plt.grid(True)

plt.show()

InvalidIndexError: (0       False
1        True
2       False
3       False
4       False
        ...
2622    False
2623    False
2624    False
2625    False
2626    False
Name: Spending_Score, Length: 2627, dtype: bool, 0)